<table class="w-100">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-info" (click)="onView(item)">details</button>
                    <button class="btn btn-warning" (click)="onEdit(item)">edit</button>
                    <button class="btn btn-danger" (click)="onDelete(item.id)">delete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>