<div>
    <p class="text-danger">home wodfgfhrks!</p>

    <nav class="nav">
        <a href="">Hello </a>
        <a href="">World</a>
    </nav>
    <div class="row">
        <div class="col-6 border border-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde tempora
            doloremque modi, numquam aliquid voluptatum in quasi harum autem perspiciatis!</div>
        <div class="col-6 border border-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            suscipit, blanditiis aliquam cumque neque aspernatur consequatur vero quia totam nihil tempora at, sunt
            aperiam quaerat eius dolores perferendis, quisquam consectetur.</div>
    </div>
</div>