

<table class="w-100">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{item.firstName | titlecase}}</td>
        <td>{{item.lastName | titlecase}}</td>
        <td>{{item.email}}</td>
        <td>{{item.contact}}</td>
        <td>{{item.date | date:'mediumDate'}}</td>
        <td>
            <button class="btn btn-info" (click)="getDetails(item.id)">Details</button>
            <button class="btn btn-secondary" (click)="onEdit(item.id)" >Edit</button>
            <button class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>
        </td>
    </tr>
</tbody>
</table>

