<!-- dev-zo0nrdo1lvbhzptx.us.auth0.com  = this is our auth0 tenant domain -->
<!-- ------------------------------------------------------------------------------------------- -->
<div class="h-100 main-wrapper d-flex flex-column justify-content-center align-items-center">

    <div class="card w-50 d-flex flex-column align-items-center">
        <!------------------ form header  ------------------>
        <h3>Register Studio</h3>
        <!-------------- Register Studio Form  ---------------->
        <div class="form-wrapper w-100">
            <form action="">
                <div class="row gx-0 px-2">


                    <!-- studio name  -->
                    <div class='col-6 border '>
                        <div class="d-flex flex-column flex-column align-items-center justify-content-center">
                            <div class="w-75">
                                <label for="" class="form-label me-2">Studio Name*</label>
                                <input type="text" name="" class="form-control" id="" value="">
                            </div>
                        </div>
                    </div>
                    <!-- studio Description  -->
                    <div class='col-6 border '>
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="w-75 ">
                                <label for="" class="form-label me-2">Studio Description*</label>
                                <input type="text" class="form-control" name="" id="" value="">
                            </div>
                        </div>
                    </div>
                    <!-- studio Address  -->
                    <div class='col-6 border '>
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="w-75 ">
                                <label for="" class="form-label me-2">Studio Address*</label>
                                <input type="text" class="form-control" name="" id="" value="">
                            </div>
                        </div>
                    </div>
                    <!-- Hardware And Equipment Details  -->
                    <div class='col-6 border '>
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="w-75 ">
                                <label for="" class="form-label me-2">Hardware And Equipment Details*</label>
                                <input type="text" class="form-control" name="" id="" value="">
                            </div>
                        </div>
                    </div>
                    <!-- Select State  -->
                    <div class='col-6 border '>
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div class="w-75 ">
                                <label for="" class="form-label me-2">Select State*</label>
                                <select name="" id="">
                                    <option value="" selected>-- State --</option>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>