
<div class=" d-flex" onload="load()">
    <!-- card 1 -->
    <div class="card mx-2 w-50">
        <div class="card-body h-100">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content Lorem, ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem fugit, magnam totam consequatur laudantium minima ad eligendi tempore vel repellat. consectetur adipisicing elit. Deleniti vitae mollitia itaque at natus neque soluta omnis quaerat quas nisi?</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <!-- card2  -->
    <div class="card mx-2 w-50">
        <div class="card-body h-100">
            <h5 class="card-title d-">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, fuga.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<!-- <div class="card" aria-hidden="true">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
    </div>
  </div> -->