* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    cursor: pointer;
}

.overlay-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

// Overlay panel styling
.overlay-panel {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    width: 1500px;
    position: fixed;
    top: 0;
}